#app-footer {
  background: transparent linear-gradient(270deg, #5775F2 0%, #4765e2 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px -1px 0px #C2D2D9;
  
  #app-footerInner {
    width: 1014px;
    max-width: 100%;
    height: 52px;
    margin: 0 auto;
    padding: 0 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color:white;
    font-size: 12px;
  }
}
