
body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: #102649
}

h2, .hs {
    font-size: 28px !important;
}

:root {
  --success: #00cf23;
  --danger: #d32a35;
}
.app-page-wrap {
  width: 100%;
  height: auto;
  min-height: 100vh;
  overflow-x: hidden;
  position: relative;
  display: flex;
  flex-direction: column;

  &.no-overflow {
    overflow: hidden;
  }

  > section {
    flex: 1;
    min-height: fit-content;
    padding: 40px 0;
  }
}

.btn { 
  font-weight: normal;
  border: none;
}

.btn-success {
  background-color: var(--success);
}

.btn-danger {
  background-color: var(--danger);
}

.text-gray {
  color: #00000080;
}

.c-form-row {
  margin-bottom: 1rem;

  label {
    display: block;
    margin-bottom: 8px;
  }
}

.custom-form-control {
  height: 42px !important;
  padding: 0px 12px;
}

.auth-page {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 3rem 15px;
  align-items: center;
  justify-content: center;

  .white-box {
    width: 720px;
    max-width: 100%;

    form {
      display: block;

      h2 {
        text-align: center;
      }

      .c-form-row {
        label {
          font-size: 14px;
          display: block;
          margin-bottom: 5px;
          color: #707070;
        }
        small {
          font-size: 11px;
        }
      }      
    }
    .modal_button {
      margin-top: 2rem;
      text-align: center;

      .btn {
        width: 220px;
      }
    }
  }

  @media all and (max-width: 767px) {
    .white-box {
      width: 100% !important;

      form {
        #register-page_button { 
          display: block;
          width: 100% !important;

          .btn {
            width: 100% !important;
          }
        }
      }
    }
  }
}

