.otc-modal {
  background: #FFFFFF;
  border: 1px solid #CFD8DC;
  border-radius: 4px;
  width: 640px;
  padding: 60px 90px;
  margin: 3rem auto;

  &.large {
    width: 800px;
    padding: 60px;
  }

  .close {
    margin-top: -24px;
    cursor: pointer;
  }

  .modal__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    .btn {
      min-width: 260px;

    }
  }
}