html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  outline: none !important;
  &:focus, &:active {
    outline: none !important;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.2;
  color: $primary-navy-color;
}

h2 {
  font-size: 32px;
  font-weight: 500;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

h4 {
  font-size: 16px;
  font-weight: 500;
}

p, label, span, ul, ol, li {
  padding: 0;
  margin: 0;
  line-height: 1.4;
  font-size: 16px;
}

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.8;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  color: $primary-text-color;
}

a {
  color: $primary-color;
}

input, select {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}
