$primary-color: #5775F2;
$primary-text-color: #707070;
$primary-dark-color: #4765E2;
$primary-light-color: #d9f0fe;
$primary-navy-color: #142d53;
$link-color: #707070;
$link-hover-color: #707070;
$secondary-teal-color: #00B0B5;
$red-color: #DE4A0B;
$red-light-color: #fef0ea;
$yellow-color: #FFC400;
$yellow-light-color: #FFF3CC;
$green-color: #42C27D;
$green-light-color: #DCF4E7;
$dark-gray-color: #324750;
$dark-gray-light-color: #7398A8;
$cool-gray-color: #c2d2d9;
$cool-gray-light-color: #e1e9ed;
$cool-gray-extra-light-color: #f1f5f6;
$gray-light-color: #f6f6f6;